test/.idea
UI/node_modules
app/backend/.env
app/backend/.venv
app/backend/.idea/
app/backend/node_modules/
app/backend/dist/
app/frontend/node_modules/
app/frontend/dist/
test/.env
test/node_modules/
test/dist/
.idea/**
test/API/venv
app/frontend/.idea
.venv/
test/API/features/promotion.feature
test/UI/playwright-report/
test/UI/test-results/
test/reports/allure_results/
test/reports/allure_report/
test/reports/api
test/reports/ui
test/reports/db